.topicHeader{
    padding:50px 4%;
    width:100%;
    text-align:center;
}

.alignLeft{
    text-align: left;
    color: #FFA895;

}
.topicHeader h1{
    margin:15px;
}
.topicHeader a{
    color: #FFA895;
}


.filterContainer{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap
}
.filterContainer span{
    padding:5px;
}
.filter{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    font-size:12px;
    padding:5px;
}

.checkedFilter{
    background:#FFA895;
    padding: 5px 15px;
    border: 1px solid black;
    color:white;
    cursor: pointer;
    margin:10px;
    border-radius: 10px;;
}

.topicHeader p{
    margin: 10px;
}



@media only screen and (min-width:900px){
    .topicHeader{
        padding:50px 8%;
    }
    .filter{
        padding: 10px 25px;}
    
}

@media only screen and (min-width:500px){
    .filter{
        padding: 5px 15px;
        margin:10px;}

    
}